<div class="box" style="height:1500px; width:100%; overflow: scroll;">
{% for i in detail_page %}
	<div class="card" id="mouse-over-label">
	<!-- 카드 헤더 -->
		<div class="card-header">
			<img src="{{ i.img }}" style="width: 500px; height: 300px;">
		</div>
		<!--카드 바디 -->
		<div class="card-body">
		<!--카드 바디 헤더 -->
			<div class="card-body-header">
				<h3>{{ i.title }}</h3>
				<div id="loading-screen-{{ forloop.counter }}">
					<p>Loading... <img src="https://t1.daumcdn.net/cfile/tistory/184F8A4E4E55932B06" width="10" height="10"></p>
				</div>
			</div>
			<!--카드 바디 본문 -->
			<!-- 모델 결과를 표시할 부분 -->
			<div class="card-text" id="result-section-{{ forloop.counter }}" style="display: none;">
				<p>{{ i.summarize }}</p>
			</div>
			<!-- 마우스 호버링 버튼 -->
			<div class="card-button">
				<button class="button" onclick="window.open('{{ i.src }}')">본문 더 보기</button>
			</div>
			<!--카드 바디 푸터 -->
			<div class="card-body-footer">
				<hr style="margin-bottom: 2px; opacity: 0.5; border-color: #EF5A31">
			</div>
		</div>
	</div>
{% endfor %}
    <!-- 페이지네이션 링크 -->
	<div class="pagination">
        <span class="step-links">
            {% if detail_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ detail_page.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ detail_page.number }} of {{ detail_page.paginator.num_pages }}.
            </span>
            {% if detail_page.has_next %}
                <a href="?page={{ detail_page.next_page_number }}">next</a>
                <a href="?page={{ detail_page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<script>
    // 인터넷 스크롤 진행률 상태바
    window.onscroll = function() {createPrograssBar()};
    function createPrograssBar() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("indicator").style.width = scrolled + "%";
    }
</script>