<!-- footer 시작 -->
<footer class="footer global-footer">
    <!-- 웨이브 부분-->
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <!-- 호버링 아이콘 -->
    <ul class="social-icon">
        <li class="social-icon__item">
            <a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </li>
    </ul>
    <!-- 페이지 정보 부분-->
    <ul class="menu">
        <li class="menu__item">
                    <a href="https://www.notion.so/Final-Project-7f856b82e54c4ef6a42cfeca0868ada3?pvs=4" target="_blank">
            <img src="https://cdn.discordapp.com/attachments/1171285316259303444/1176777121922818058/image.png?ex=65701a19&is=655da519&hm=7f5fa8580e5a7cdbded16228cc8a0b1652c29ac7aff7ea4b9ad2aa2d6273ba2e&" style="width: 40px;">
        </a>
            <a class="menu__link" href="https://www.notion.so/Final-Project-7f856b82e54c4ef6a42cfeca0868ada3?pvs=4" target="_blank">About Us In Notion</a>
        </li>
    </ul>
    <p>&copy;2023 Hea Joe's Final Project | Flash News</p>
</footer>
<!-- 아이콘 라이브러리 -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>