{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
<nav class="main-menu-con">
    <ul id="menu-main-menu" class="main-menu">
        <li id="menu-item-35" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35"><a href="/">홈</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-71"><a href="#">사회</a></li>
        <li id="menu-item-856" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-856"><a href="#">정치</a></li>
        <li id="menu-item-191" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a href="#">경제</a></li>
        <li id="menu-item-192" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a href="#">국제</a></li>
        <li id="menu-item-193" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-193"><a href="#">문화</a></li>
        <li id="menu-item-194" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-194"><a href="#">IT</a></li>
        <li id="menu-item-197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a href="#">요약</a></li>
    </ul>
</nav>

<script>
    window.addEventListener('scroll', function() {
          var navbar = document.querySelector('.main-menu-con');
          var menuItems = document.querySelectorAll('.main-menu-con li');
          var scrollPosition = window.scrollY;

          var stickyPosition = 100;

    if (scrollPosition >= stickyPosition) {
        navbar.classList.add('fixed-navbar');
        menuItems.forEach(function(item) {
            item.style.marginRight = '120px';
        });
    } else {
        navbar.classList.remove('fixed-navbar');
        menuItems.forEach(function(item) {
            item.style.marginRight = '0'; // 마진 제거
        });
      }
    });
</script>