{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
<nav class="main-menu-con">
    <ul id="menu-main-menu" class="main-menu">
        <li id="society" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-35"><a href="/">홈</a></li>
        <li id="menu-item-71" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-71"><a
            href="{% url 'main_page' %}?category=society">사회</a></li>
        <li id="politics" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-856"><a
            href="{% url 'main_page' %}?category=politics">정치</a></li>
        <li id="economic" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191"><a
            href="{% url 'main_page' %}?category=economic">경제</a></li>
        <li id="culture" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-193"><a
            href="{% url 'main_page' %}?category=culture">문화</a></li>
        <li id="entertain" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-192"><a
            href="{% url 'main_page' %}?category=entertain">연예</a></li>
        <li id="sports" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-194"><a
            href="{% url 'main_page' %}?category=sports">스포츠</a></li>
        <li id="digital" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-194"><a
            href="{% url 'main_page' %}?category=digital">IT</a></li>
        <li id="summary" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-197"><a
            href="{% url 'main_page' %}?#">요약</a></li>
    </ul>
</nav>

<script>
    window.addEventListener('scroll', function() {
          var navbar = document.querySelector('.main-menu-con');
          var menuItems = document.querySelectorAll('.main-menu-con li');
          var scrollPosition = window.scrollY;

          var stickyPosition = 100;

    if (scrollPosition >= stickyPosition) {
        navbar.classList.add('fixed-navbar');
        menuItems.forEach(function(item) {
            item.style.marginRight = '120px';
        });
    } else {
        navbar.classList.remove('fixed-navbar');
        menuItems.forEach(function(item) {
            item.style.marginRight = '0'; // 마진 제거
        });
      }
    });
</script>