<div class="box" style="height:1500px; width:100%; overflow: scroll;">
{% for i in craw %}
	<div class="card">
	<!-- 카드 헤더 -->
		<div class="card-header">
			<img src="{{ i.img }}" style="width: 500px; height: 300px;">
		</div>
		<!--카드 바디 -->
		<div class="card-body">
		<!--카드 바디 헤더 -->
			<div class="card-body-header">
				<h3><a href="{{ i.src }}">{{ i.title }}</a></h3>
			</div>
			<!-- 모델 결과를 표시할 부분 -->
			<p>{{ i.summarize }}</p>
			<!--카드 바디 본문 -->
			<!--카드 바디 푸터 -->
			<div class="card-body-footer">
			<hr style="margin-bottom: 2px; opacity: 0.5; border-color: #EF5A31">
			</div>
		</div>
	</div>
{% endfor %}
	<!-- 페이지네이션 -->
	<div class="pagination">
		<span class="step-links">
			{% if craw.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ craw.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ craw.number }} of {{ craw.paginator.num_pages }}.
			</span>
			{% if craw.has_next %}
				<a href="?page={{ craw.next_page_number }}">next</a>
				<a href="?page={{ craw.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
