/* .cjs_age_list 컨테이너 스타일 */
.icon-container .cjs_age_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: ; /* justify-content 속성 값이 누락되었습니다. 필요에 따라 설정하세요. */
}
/* 각 아이템(1줄에 1개씩)의 스타일 */
.cjs_age_item {
    width: calc(33.33% - 10px); /* 1줄에 3개씩 배치하므로 너비를 33.33%로 설정 */
    margin-bottom: 20px; /* 각 아이콘 아래 간격 설정 */
    border-radius: 0.2em; /* Rounded corners */
}
/* 채널 타이틀 스타일 */
.cjs_channel_title {
    margin-top: 22px;
    border-bottom: 1px solid #000; /* 밑줄 스타일 설정 */
    padding-bottom: 10px; /* 밑줄과 내용 사이의 간격 조정 */
    margin-bottom: 20px; /* 종합지와 다음 요소 사이의 간격 조정 */
}
/* 아이콘 이미지 스타일 */
.cjs_age_item img {
    border-radius: 0.5em;
}
/* 페이지네이션 스타일 */
.pagination {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
/* 페이지네이션 링크 스타일 */
.step-links a {
    display: inline-block;
    padding: 8px 14px;
    margin: 0 4px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
/* 페이지네이션 링크 호버 스타일 */
.step-links a:hover {
    background-color: #e9e9e9;
}
/* 현재 페이지 링크 스타일 */
.step-links .current {
    display: inline-block;
    padding: 8px 14px;
    margin: 0 4px;
    border: 1px solid #222;
    border-radius: 15px;
    background: rgb(190, 190, 190);
    color: #fff;
}